.border {
   border: 1px solid black;
}

.center {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   text-align: center;

}

.centerItem {
   position: absolute;
   left: 50%;
   margin: 0;
   transform: translate(-50%, -50%);
}

.checkList {
   border: 1px solid orchid; 
   background-color: whitesmoke;
   border-radius: 4px;
   
}

.clickableCell {
   color: blue;
   text-decoration: underline;
   cursor: pointer;
}

.dataTableContainer {
   background-color: whitesmoke;
   width: 100%;
}

.error {
   color: red;
   text-align: left;
   margin-left: 0.5rem;
   font-size: small;
   font-weight: 400;
}

.footerModal {
   display: flex;
   border-top: 2px solid whitesmoke;
   text-align: right;
   font-size: 16px;
   font-weight: bolder;
   align-items: right;
   padding-top: 8px;
   padding-bottom: 8px;
   background-color: whitesmoke;   
}

.form {
   background-color: whitesmoke;
   padding-top:25px;
   padding-left: 75px;
   padding-right: 75px;
   padding-bottom: 25px;
   margin-top: 0px;
}



.grid {
   /*background-color: whitesmoke;   */
   /*background-color: white;*/
}

.grid-item {
   padding-top: 8px !important;
}

.headerModal {
   display: flex;
   border-bottom: 2px solid whitesmoke;
   text-align: center;
   font-size: 16px;
   font-weight: bolder;
   align-items: center;
   background-color: whitesmoke;
}

.headerCol {
   background-color:lightgrey;
   color: black;
   font-weight: bold;
}

.helperText {
   padding-top: 1px;
   margin-top: 1px !important;
   font-style: italic;
   font-weight: bolder;
}

.half-width {
   width: 50%;
}

.half-quarter-width {
   width: 75%;
}

.item {
   display: flex;   
}

.left {
   text-align: left;
}

.primary-font {
   font-family: 'Roboto', sans-serif !important;
   font-size: 12px !important;
}

.quarter-width {
   width: 25%;
}

.right {
   margin-left:auto !important;
}

.right-align {
   text-align: right;
}

.test {

   border: 1px solid;

}

.title {
   text-align: center;
   background-color: orange;
   color: white;
   height: 40px;
   justify-content: "center";
   border: 2px solid orchid;
   border-radius: 5px;
   margin-bottom: 5px;
}